html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

h3 span {
  font-weight: 600;
}


/*
 * Styles for the deck of cards
 */

.deck {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  transform: rotateY(0);
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation: ball 0.9s;
}

.deck .card.no-match {
  background: #ff0000;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  cursor: pointer;
}


/*
 * Styles for Animation
 */

.no-match {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes ball {
  0%,
  100% {
    border-radius: 8px;
  }
  50% {
    border-radius: 75px;
  }
}


/*
 * Media Queries
 */

@media screen and (min-width: 660px) {
  .deck {
    width: 660px;
    min-height: 680px;
  }
  .deck .card {
    height: 125px;
    width: 125px;
  }
  .score-panel {
    justify-content: space-between;
  }
}

@media screen and (max-width: 659px) {
 .deck {
   width: 95%;
   min-height: 680px;
 }
 .deck .card {
   height: 115px;
   width: 115px;
 }
 .score-panel {
   justify-content: space-between;
  }
}

@media screen and (max-width: 609px) {
 .deck {
   min-height: 520px;
 }
 .deck .card {
   height: 103px;
   width: 103px;
 }
 .score-panel {
   width: 345px;
 }
}

@media screen and (max-width: 551px) {
 .deck {
   min-height: 500px;
 }
 .deck .card {
   height: 92px;
   width: 92px;
 }
}

@media screen and (max-width: 477px) {
 .deck {
   min-height: 420px;
 }
 .deck .card {
   height: 78px;
   width: 78px;
 }
 .score-panel {
   font-size: 0.8em;
   justify-content: space-around;
 }
}

@media screen and (max-width: 409px) {
 .deck {
   min-height: 360px;
 }
 .deck .card {
   height: 65px;
   width: 65px;
 }
}

@media screen and (max-width: 356px) {   
  .deck .card {
    height: 55px;
    width: 55px;
  }
} 